.menu-preview {
    padding: 1rem 2rem;
    border: 1px solid #cbd5e0;
    border-radius: .5rem;
    .heading{
        font-weight: bold;
        margin-bottom: 2rem;
    }
    .menu-title{
        font-size: 1.1rem;
        font-weight: 700;
    }
    ul{
        list-style:none;
        li{
            padding:.5rem 0;
        a{
            color:rgb(3, 3, 19);
            font-weight: 500;
        }
    }
    }
}
